@model IEnumerable<Category>

<ul class="list-group">
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-controller="Products" asp-action="Index" asp-route-categoryTitle="">All Products</a>
    </li>

    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-controller="Products" asp-action="Index" asp-route-categoryTitle="@item.Title">@item.Name</a>
        </li>
    }
</ul>
